<mat-tab-group mat-align-tabs="start" class="mt-3">
    <!-- <mat-tab label="Overview">Content 1</mat-tab> -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">import_contacts
            </mat-icon>
            Overview
        </ng-template>
        <app-overview></app-overview>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">
                bookmark_add
            </mat-icon>
            Repositories
            <span class="badge badge-light repo-badge ml-1">7</span>
        </ng-template>
        <app-repository></app-repository>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">
                text_snippet
            </mat-icon>
            Projects
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">view_in_ar</mat-icon>
            Packages
        </ng-template>
    </mat-tab>
    <!-- <mat-tab label="Repositories">Content 2</mat-tab>
    <mat-tab label="Projects">Content 3</mat-tab>
    <mat-tab label="Packages">Content 3</mat-tab> -->
</mat-tab-group>
