.mat-tab-label .mat-tab-label-content {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}

.repo-badge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 12px;
}
