<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <i class="fa fa-github custom-github"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ml-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link" href="#">Pull requests</a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link" href="#">Issues</a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link" href="#">Marketplace</a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link" href="#">Explore</a>
            </li>
        </ul>
    </div>
</nav>