<h5 class="mt-2">
    Popular Repositories
</h5>
<div class="row">
    <div class="col-md-6 col-sm-12  mt-2">
        <mat-card>
            <h6>Crud Application</h6>
            <p> Demo Crud Application</p>
            <p>
                <span class="pin" style="background-color: rgb(218, 98, 98);"></span>
                <span class="ml-1">Javascript</span>
            </p>
        </mat-card>
    </div>
    <div class="col-md-6 col-sm-12 mt-2">
        <mat-card>
            <h6>Blog Application</h6>
            <p>Demo Blog Application</p>
            <p>
                <span class="pin" style="background-color:rgb(104, 104, 187)"></span>
                <span class="ml-1">Javascript</span>
            </p>
        </mat-card>
    </div>
    <div class="col-md-6 col-sm-12  mt-2">
        <mat-card>
            <h6>News Letter App</h6>
            <p>Demo News Letter Application</p>
            <p>
                <span class="pin" style="background-color: rgb(223, 223, 64)"></span>
                <span class="ml-1">Javascript</span>
            </p>
        </mat-card>
    </div>
    <div class="col-md-6 col-sm-12  mt-2">
        <mat-card>
            <h6>E-Commerce Application</h6>
            <p>Demo E-Commerce Application</p>
            <p>
                <span class="pin" style="background-color: rgb(245, 161, 6)"></span>
                <span class="ml-1">Typescript</span>
            </p>
        </mat-card>
    </div>
    <div class="col-md-6 col-sm-12  mt-2">
        <mat-card>
            <h6>Calculator App</h6>
            <p>Demo Calculator Application</p>
            <p>
                <span class="pin" style="background-color: rgb(218, 98, 98);"></span>
                <span class="ml-1">Typescript</span>
            </p>
        </mat-card>
    </div>
    <div class="col-md-6 col-sm-12  mt-2">
        <mat-card>
            <h6>Image Gallery App</h6>
            <p>Demo Image Gallery Application</p>
            <p>
                <span class="pin" style="background-color:rgb(104, 104, 187)"></span>
                <span class="ml-1">Typescript</span>
            </p>
        </mat-card>
    </div>
    <div class="col-md-6 col-sm-12  mt-2">
        <mat-card>
            <h6>Dashboard</h6>
            <p>Demo Project Dashboard</p>
            <p>
                <span class="pin" style="background-color: rgb(223, 223, 64)"></span>
                <span class="ml-1">Typescript</span>
            </p>
        </mat-card>
    </div>
</div>
