h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}

h6 {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    color: #0366d9;
    font-weight: bold;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}

.pin {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid rgb(172, 168, 168);
}
