<div class="row">
    <div class="col-md-12 col-sm-12 mt-3 border-bottom">
        <div class="repo-section d-flex justify-content-between">
            <div class="repo-title">
                <h4>Crud Application</h4>
                <p>
                    <span class="pin" style="background-color: rgb(218, 98, 98);"></span>
                    <span class="ml-1">Javascript</span>
                    <span class="ml-3">Updated 19 days ago</span>
                </p>
            </div>
            <div class="star-button-section mr-4">
                <button class="btn btn-light star-btn"><i class="fa fa-star"></i> Star</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 mt-3 border-bottom">
        <div class="repo-section d-flex justify-content-between">
            <div class="repo-title">
                <h4>Blog Application</h4>
                <p>
                    <span class="pin" style="background-color:rgb(104, 104, 187)"></span>
                    <span class="ml-1">Javascript</span>
                    <span class="ml-3">Updated 10 days ago</span>
                </p>
            </div>
            <div class="star-button-section mr-4">
                <button class="btn btn-light star-btn"><i class="fa fa-star"></i> Star</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 mt-3 border-bottom">
        <div class="repo-section d-flex justify-content-between">
            <div class="repo-title">
                <h4>News Letter App</h4>
                <p>
                    <span class="pin" style="background-color: rgb(223, 223, 64)"></span>
                    <span class="ml-1">Javascript</span>
                    <span class="ml-3">Updated 12 days ago</span>
                </p>
            </div>
            <div class="star-button-section mr-4">
                <button class="btn btn-light star-btn"><i class="fa fa-star"></i> Star</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 mt-3 border-bottom">
        <div class="repo-section d-flex justify-content-between">
            <div class="repo-title">
                <h4>E-Commerce Application</h4>
                <p>
                    <span class="pin" style="background-color: rgb(245, 161, 6)"></span>
                    <span class="ml-1">Typescript</span>
                    <span class="ml-3">Updated 5 days ago</span>
                </p>
            </div>
            <div class="star-button-section mr-4">
                <button class="btn btn-light star-btn"><i class="fa fa-star"></i> Star</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 mt-3 border-bottom">
        <div class="repo-section d-flex justify-content-between">
            <div class="repo-title">
                <h4>Calculator App</h4>
                <p>
                    <span class="pin" style="background-color: rgb(218, 98, 98);"></span>
                    <span class="ml-1">Typescript</span>
                    <span class="ml-3">Updated 5 days ago</span>
                </p>
            </div>
            <div class="star-button-section mr-4">
                <button class="btn btn-light star-btn"><i class="fa fa-star"></i> Star</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 mt-3 border-bottom">
        <div class="repo-section d-flex justify-content-between">
            <div class="repo-title">
                <h4>Image Gallery App</h4>
                <p>
                    <span class="pin" style="background-color:rgb(104, 104, 187)"></span>
                    <span class="ml-1">Typescript</span>
                    <span class="ml-3">Updated 6 days ago</span>
                </p>
            </div>
            <div class="star-button-section mr-4">
                <button class="btn btn-light star-btn"><i class="fa fa-star"></i> Star</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 mt-3 border-bottom">
        <div class="repo-section d-flex justify-content-between">
            <div class="repo-title">
                <h4>Dashboard</h4>
                <p>
                    <span class="pin" style="background-color: rgb(223, 223, 64)"></span>
                    <span class="ml-1">Typescript</span>
                    <span class="ml-3">Updated 20 days ago</span>
                </p>
            </div>
            <div class="star-button-section mr-4">
                <button class="btn btn-light star-btn"><i class="fa fa-star"></i> Star</button>
            </div>
        </div>
    </div>
</div>
