/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap.scss";
html,
body {
    height: 100%;
    margin: 0
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}

mat-card {
    border: 1px solid #e0d6d6
}

.mat-tab-body-content {
    height: auto !important;
    overflow: hidden !important;
}

.mat-tab-label .mat-tab-label-content {
    font-family: 'Barlow Condensed', sans-serif;
    // font-family: 'Cabin', sans-serif;
    // font-family: 'Rajdhani', sans-serif;
    font-size: 16px;
    // font-weight: bold;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #f9826c;
}

.mat-icon {
    height: 27px !important;
    width: 34px !important;
}
